* text=auto
*.html linguist-vendored
*.j2 linguist-vendored
*.yaml linguist-language=YAML
*.yml linguist-language=YAML
*.yaml linguist-detectable=true
*.yml linguist-detectable=true
*.sh linguist-language=Shell
